.readfile{
    grid-area: read;
    }.upload-container{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        border: none;
        margin-top: 5%;
        padding: 50px 100px;
        text-align: center;
        border-radius: 20px;
        font-size: 20px;
    }.upload-container >button{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: inline-block;
        font-size: 16px;
        margin-top: 1em;
    }.upload-container > input{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 20px;
        display: inline-block;
        font-size: 16px;
    }