.singlepage-wrapper{
   display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr;
grid-template-areas: 
"h"
"cont"
"footer"
;
}

.content{
   min-height: 800px;
   height: auto;
    grid-area: cont;
    color: white;
    padding: 1em;
    justify-self: center;
    margin-top: 40px;
    }
html
    {
       margin: 0;
    }
body
    {
       margin: 0;
    }