.singlepage-wrapper{
   display: grid;
grid-template-rows: 6.6em auto auto;
grid-template-columns: 1fr;
grid-template-areas: 
"h"
"cont"
"footer"
;
}

.content{
   min-height: 800px;
   height: auto;
    color: white;
    padding: 1em;
    justify-self: center;
    }
html
    {
      color: white;
       margin: 0;
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       overflow-x: hidden;
overflow-y: scroll;
    }
body
    {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       width:100%; 
       height:100%;
    }

