.Sorti{
    grid-area: sorti;
    }.btn{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
    }.mas{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 14px;
    }.cont{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        border: none;
        margin-top: 5%;
        padding: 50px 100px;
        text-align: center;
        border-radius: 20px;
        font-size: 20px;
        box-shadow: 0px 8px 16px 6px rgba(0,0,0,0.2);
    }