.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(40, 0, 41);
    grid-auto-rows: minmax(50px, auto); 
    grid-template-areas: 
    "ph"
    "tp"
    "pr"
    "art"
    ;
    padding: 2px;
}
.product >img.photo{
    grid-area: ph;
    padding: 20px;
}
.product >div.type{
    grid-area: tp;
}
.product >div.price{
    grid-area: pr;
}
.product >div.art{
    grid-area: art;
}