.main{
    grid-area: main;
    }.container{
        background-image: linear-gradient(to left, #553c9a, #b393d3);
        border: none;
        margin-top: 5%;
        padding: 50px 100px;
        text-align: center;
        border-radius: 20px;
        font-size: 20px;
        box-shadow: 0px 8px 16px 6px rgba(0,0,0,0.2);
        
    }.rez{
        overflow-wrap: break-word;  
        word-wrap: break-word;
        word-break: keep-all;  
        line-break: auto;  
    }
    