.container{
    display: grid;
    grid-template-columns: 20em 20em 20em;
    grid-template-rows: min-content;
    position: relative;
gap: 1em;
}.item{
    display: grid;
    background-color: rgb(253, 254, 255);
    grid-template-rows: 8em 4em;
    text-align: center;
    box-shadow: 0px 8px 16px 6px rgba(0,0,0,0.2);
}.photo{
    width: 20em;
    height: 8em;
    grid-column-start: 1 ;
}.link{
    text-decoration: none;
    color: black;
}