.header{
    display: grid;
    grid-area: h;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  grid-template-columns:100px 1fr auto;
  grid-template-areas: 
"im main nav out lo btn" ;
}
.header img{
    grid-area: 1;
    width: 100px;
    margin-top: 10px;
}
.main{
    grid-area: main;
    color: white;
    margin-top: 10px;
    font-size: 200%;
    justify-self: center;
}
.log{
    color: white;
    padding: 10px;
    grid-area: lo;
    background-image: linear-gradient(to right, #553c9a, #b393d3);
        border: none;
        color: white;
        margin-top: 230px;
        text-align: center;
        text-decoration: none;

}
.logout{
    color: white;
    padding: 10px;
      grid-area: out;
background-image: linear-gradient(to right, #553c9a, #b393d3);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.logbtn{
    color: white;
    padding: 10px;
      grid-area: btn;
background-image: linear-gradient(to right, #553c9a, #b393d3);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}
