.header{
    display: grid;
    grid-area: h;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  grid-template-columns: repeat(5, 1fr);
}
.header img{
    grid-area: img;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100px;
    margin-top: 10px;
}
.main{
    grid-area: main;
    color: white;
    font-size: 200%;
    grid-column-start: 3;
    grid-row-start: 1;
    margin-top: 30px;
}
.log{
    color: white;
    padding: 10px;
    grid-area: lo;
    background-image: linear-gradient(to right, #553c9a, #b393d3);
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;

}
.logout{
    color: white;
    padding: 10px;
      grid-area: out;
background-image: linear-gradient(to right, #553c9a, #b393d3);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

.logbtn{
    color: white;
    padding: 10px;
      grid-area: btn;
background-image: linear-gradient(to right, #553c9a, #b393d3);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}.one{
grid-area:menu;
grid-column-start: 1;
grid-row-start: 1;
margin-top: 89px;
margin-right: 300px;
}.group{
    margin-left: 200px;
    grid-column-start: 5;
    grid-row-start: 1;
}
