.Reg{
display: grid;
grid-area: regi;
margin-top: 80px;
width: 420px;
margin-left: auto;
margin-right: auto;
  height: 360px;
  border-radius: 20px;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
    gap: 10px;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr
}
.email{
    grid-area: 2;
    font-size:20px;
    border-radius: 10px;
    font-weight:bold;
  color:rgb(40, 0, 41);
}.nick{
    grid-area: 3;
    font-size:20px;
    border-radius: 10px;
    font-weight:bold;
  color:rgb(40, 0, 41);
}.pass{
grid-area: 4;
border-radius: 10px;
font-size:20px;
font-weight:bold;
color:rgb(40, 0, 41);
}.registr{
    grid-area: 5;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
}