.auth{
   display: grid;
   background-color: rgb(20, 20, 20);
grid-template-columns: 1fr;
display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
   grid-template-areas: 
   "login"
   "regi"
   ;
}