.auth{
   display: grid;
background-color: black;
grid-template-columns: 1fr;
display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
   grid-template-areas: 
   "login"
   "regi"
   ;
}
html
{
   background-color: black;
   margin: 0;
}